* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height:100vh;
    background:orange;
    text-align: center;
}

.container {
    display:grid;
    grid-template-columns: 4fr 1fr;
    justify-content: end;
    width:100%;
    padding-top:100px;
    margin:0 auto;
    max-width:1200px;
    min-height:100vh;
    background-color:rgb(170, 71, 71);
    
}

.container > * {
    outline:1px solid black;
}

.score__tiles {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;;
}