* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height:100vh;
    background:orange;
    text-align: center;
}

.container{
    width:100%;
    padding-top:100px;
    margin:0 auto;
    max-width:1200px;
    min-height:100vh;
    background-color:rgb(170, 71, 71);
}

.play-area {
    display:grid;
    grid-template-columns: 4fr 1fr;
    justify-content: end;
    margin-top:50px;
    width:100%;    
}

.play-area > * {
    outline:1px solid black;
}

.score__header {
    padding-block: 20px;
    background: red;
}
.score__tiles {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    gap:3px;
}

.start_game {
    width:100px;
    height:50px;
    border-radius:100vw;
    border:none;
}

.ended {
    animation: blinking 1.6s linear infinite
}

@keyframes blinking {
    50% {
        scale:1.05;
        background-color:blue;
    }    
}

.choices {
    display:grid;
    background-color:blue;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    justify-items: center;
    width: 100%;
    height:200px;
    max-width:1000px;
    margin:5rem auto;
    



}

[data-choice]{
    border:1px solid gray;
    border-radius: 9px;
    background-color:orange;
    width:200px;
    padding:1rem;
    scale:0.97;
}

.started {
    transition: scale .3s
}

.started:hover, .started:focus {
    scale:1.03;
}

img {
    width:100%;
}